<p><span id="rep-count"><%= @scores %> </span>Reps Done Today!</p>
<p><span id="rep-count"><%= @pullups %></span> Pullups</p>
<p><span id="rep-count"><%= @pushups %></span> Pushups</p>
<p><span id="rep-count"> <%= @lunges %></span> Situps</p>
<p><span id="rep-count"> <%= @squats %></span> Situps</p>
<p><span id="rep-count"> <%= @crunches %></span> Situps</p>
