<h1>Our Winners</h1>
<table>
  <thead>

  <tr>
    <% if current_admin.master == 1 %>
      <th>Email</th>
      <th>Phone</th>
    <% end %>
      <th>Name</th>
    </tr>
  </thead>
  <% @results.each do |winner| %>
    <tr scope="row">
      <% if current_admin.master == 1 %>
      <td><%= winner.email %></td>
      <td><%= winner.phone %></td>
      <% end %>
      <td><%= winner.first_name %> <%= winner.last_name %></td>
    </tr>
  <% end %>
</table>

<%= form_tag '/draw', method: :patch do%>
<input class="btn btn-primary submit" type="submit" value="Draw Winners">
<% end %>
