<!DOCTYPE html>
<html>
  <head>
    <title>OdysseyRaffle</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>


  	<!-- Theme style  -->
  	<link rel="stylesheet" href="/css/style.css">
  	<!-- Modernizr JS -->
  	<script src="js/modernizr-2.6.2.min.js"></script>
    <body>

  	<header id="home">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <% flash.each do |name, message| %>
            <div class="alert alert-<%= name %> alert-dismissible flash" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= message %>
          <% end %>
        </div>
      </div>
  		<div class="container">
  			<div class="col-md-6 col-sm-6" id="title">
  				<div class="intro">
            <h1 id="fh5co-logo">Odyssey House Fitness Raffle</h1>
            <p>
              <ul>
              <% if admin_signed_in? %>
              <!-- New Entry -->
                <li class="btn btn-primary"><%= link_to "New Entry", "raffle_entries/new" %> </li>
                <li class="btn btn-primary"> <%= link_to "Logout", "/admins/sign_out", method: :delete %></li>
                <li class="btn btn-primary"> <%= link_to "Raffle Drawing", "/results" %></li>
                <% else %>
                <li class="btn btn-primary"> <%= link_to "Login", "/admins/sign_in" %> </li>
                <% end %>
              </ul>
            </p>
  				</div>
  			</div>
        <div class="col-md-6 col-sm-6 scores">
          <%= yield %>
        </div>
  		</div>
  	</header>
  	</body>

</html>
